:root {
    --color-blue: #3d348b;
    --color-white: #e0e2db;
    --color-yellow: #e6af2e;
    --color-green: #16c172;
    --color-dark: #191716;
    --color-red: #95190c;

    background-color: var(--color-dark);
}

html,
body {
    margin: 0;
    height: 100%;
}

body {
    overflow: hidden;
}

.home-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: var(--color-green);
    font-size: 1.5rem;
    gap: 3rem;
}
.start-quiz {
    color: var(--color-dark);
    background-color: var(--color-white);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 2rem;
    padding: 1rem 2rem;
    text-decoration: none;
}

.quiz {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quiz-card {
    color: var(--color-white);
    margin: 0rem 6rem;
    text-align: center;
}
.quiz-card h2 {
    color: var(--color-white);
}

.quiz-answers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5rem;
}
.quiz-answers-button {
    color: var(--color-dark);
    background-color: var(--color-white);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 0.9rem;
    padding: 0rem 0.7rem;
}
.quiz-answers .select {
    color: var(--color-white);
    background-color: var(--color-blue);
}
.quiz-answers .correct {
    color: var(--color-dark);
    background-color: var(--color-green);
}
.quiz-answers .wrong {
    color: var(--color-white);
    background-color: var(--color-red);
}

.quiz-submit {
    margin: 2rem;
    color: var(--color-white);
    font-size: 1rem;
}

.quiz-submit-button {
    color: var(--color-white);
    background-color: var(--color-blue);
    border: none;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1.5rem;
}

.skeleton {
    background-color: rgba(200, 200, 200, 0.2);
    border-radius: 4px;
    animation: pulse 1.5s ease-in-out infinite alternate;
}

.skeleton.question {
    width: 600px;
    height: 48px;
    margin: 2rem;
}

.skeleton.answers {
    width: 120px;
    height: 28px;
}
.skeleton.submit {
    width: 200px;
    height: 48px;
}

@keyframes pulse {
    from {
        opacity: 0.3;
    }
    to {
        opacity: 1;
    }
}
