:root {
    --color-blue: #3d348b;
    --color-white: #e0e2db;
    --color-yellow: #e6af2e;
    --color-dark: #191716;
    --color-red: #95190c;

    background-color: var(--color-dark);
}

.quiz {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quiz-card {
    color: var(--color-white);
}
.quiz-card h2 {
    color: var(--color-white);
}

.quiz-answers {
    color: var(--color-white);
}
.quiz-answers button {
    color: var(--color-dark);
    border: solid;
    border-color: var(--color-white);
    border-radius: 8px;
    cursor: pointer;
}

.quiz-submit {
    margin: 16px;
}

.quiz-submit button {
    color: var(--color-white);
    background-color: var(--color-blue);
    border-radius: 8px;
    cursor: pointer;
}
